<a href="https://colab.research.google.com/github/GuuhMatias/Colab/blob/main/dicion_rios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Dicionarios sao estruturas que salvam dados de tipo chave e valor, e eles possuem tres caracteristicas
# eles nao sao ordenados, sao iteraveis e sao mutaveis
# Dicionários sao caracterizados pela abertura e fechamento das chaves "{}"

l = ["gustavo",1000,"Guilherme", 750, 'Eliane', 2500]
d = {"Pedro":1000, "Carlos":750,"Ricardo":2500}

type(d)

dict

In [ ]:
type(l)

list

In [ ]:
l

['gustavo', 1000, 'Guilherme', 750, 'Eliane', 2500]

In [ ]:
d

{'Pedro': 1000, 'Carlos': 750, 'Ricardo': 2500}

In [ ]:
d['Pedro']

1000

In [ ]:
# Após buscarmos por Pedro, obtivemos de resultado o valor 1000, porque o valor 1000 está associado
# a Pedro, como se ele fosse a palavra do dicionario, e o 1000 fosse o significado

# Se eu tentar fazer o mesmo com o a lista l
l['Eliane']

TypeError: ignored

In [ ]:
# Vai dar erro porque a lista nao associa o valor com o nome na string Eliane, igual faz o dicionário
# E se eu usar o comando "len" reparemos o porque do erro

len(l)

6

In [ ]:
# a lista l possui 6 elementos, porque os valores nao associam com os nomes, cada um é independente

len(d)

3

In [ ]:
# Aqui temos apenas 3 elementos, mas temos 6 palavras, 3 valores e 3 nomes, mas cada nome se associa
# com um valor, fazendo a relacao e juncao de 2 elementos

d.keys()

dict_keys(['Pedro', 'Carlos', 'Ricardo'])

In [ ]:
# Obtivemos as chaves do dicionário, podemos dizer que keys sao as palavras que buscamos para saber
# seu significado, usando o comando .keys()

d.values()

# e aqui iremos obter os significados que buscavamos, usando o comando .value()

dict_values([1000, 750, 2500])

In [ ]:
d2 = {'Ana': 1500}

In [ ]:
d

{'Pedro': 1000, 'Carlos': 750, 'Ricardo': 2500}

In [ ]:
# Usando o comando .update, adicionaremos um elemento ou os elementos de um dicionario dentro de outro
# dicionário

d.update(d2)

In [ ]:
d

{'Pedro': 1000, 'Carlos': 750, 'Ricardo': 2500, 'Ana': 1500}

In [ ]:
# Temos a opcao de retirar o nome e o valor relacionado a ele de dentro do objeto

del d["Pedro"]

In [ ]:
d

{'Carlos': 750, 'Ricardo': 2500, 'Ana': 1500}

In [ ]:
# Obtivemos o dicionario sem o Pedro e o valor relacionado a ele, pois fizemos a remocao do mesmo de
# dentro do dicionário

In [ ]:
# Para apagar todos os elementos e valores do dicionario por completo, utilizamos o comando .clear()

d.clear()

d

{}

In [ ]:
familia = {'pai':40, 'Mãe':36, 'Filhos':1}

In [ ]:
familia

{'pai': 40, 'Mãe': 36, 'Filhos': 1}

In [ ]:
# E vou declarar que essa familia nao contem animais usando o false

familia['Animais'] = False

In [ ]:
familia

{'pai': 40, 'Mãe': 36, 'Filhos': 1, 'Animais': False}

In [ ]:
# Vamos fazer de conta que a familia teve outro filho, entao teremos que adicionar mais 1 no valor
# do dicionario na key familia, para isso basta fazer a alteracao de 1 pra 2, usando o nome do dicionario
# e entre [] colocar a key que queremos alterar e colocar na frente depois do sinal de = , o valor que
# queremos adicionar

familia['Filhos'] = 2

In [ ]:
familia

{'pai': 40, 'Mãe': 36, 'Filhos': 2, 'Animais': False}

In [ ]:
# Dicionarios aninhados

d1 = {'livia': 32, 'pedro': 12, 'camila': {'idade':16, 'altura':1.70}}

In [ ]:
d1

{'livia': 32, 'pedro': 12, 'camila': {'idade': 16, 'altura': 1.7}}

In [ ]:
d1['camila']

{'idade': 16, 'altura': 1.7}

In [ ]:
d1['livia']

32

In [ ]:
# Assim fazemos um dicionario aninhado, montando um dicionario dentro de outro

In [ ]:
# Usando o comando .pop, que consiste em deletar apenas o a chave do do dicionario, e me retornando o valor ,
# que estava na chave, por exemplo:

d1.pop('pedro')

12

In [ ]:
d1

{'livia': 32, 'camila': {'idade': 16, 'altura': 1.7}}