<a href="https://colab.research.google.com/github/GuuhMatias/Colab/blob/main/Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Tuplas nao sao mutaveis, uma vez criada, nada pode ser adicionado, substituido ou removido
# e tupla é definida quando abrimos ()

t = (1,2,3,4,5,6)

type(t)

tuple

In [ ]:
# Tupla só podemos usar 2 comandos, que sao o de contagem ( .count ) e o index, que é para
# descobrir em que algoritmo se encontra o valor ou palavra mencionado

t[3]

4

In [ ]:
# E tuplas nao possuem obrigatoriedade dos elementos estarem entre ()

t2 = '1', '2,' '3'

In [ ]:
type(t2)

tuple

In [ ]:
# Tambem podemos adicionar nossa tupla em uma lista

t3 = (1,2,3,4,5)

In [ ]:
l = list(t3)

In [ ]:
l

[1, 2, 3, 4, 5]

In [ ]:
# após essa transformacao podemos fazer o que quisermos com a lista, como adicionar valores ou retirar
# valores, nomes, e etc
# e ainda podemos transformar novamente em uma tupla e todas as alteracoes serao mantidas na tupla

l.append(6)

[1, 2, 3, 4, 5, 6]

In [ ]:
t3 = tuple(l)

# Para transforma-lo novamente em uma tupla, usamos, nome da tupla = tuple(nome da lista usada para
# a edicao da tupla)

In [ ]:
t3

(1, 2, 3, 4, 5, 6)