<a href="https://colab.research.google.com/github/GuuhMatias/Colab/blob/main/Vari%C3%A1veis_para_dados_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Variaveis uteis para trabalhar com armazenamento de dados

# Então para cada tipo de variavel precisamos aprender:

# O que sao variaveis: listas, dicionarios, tuplas, vetores e matrizes;
# Como funciona a indexação e fatiamentos (slices);
# Os metoros basicos presentes nas variaveis;
# Como fazer aninhamentos.

In [ ]:
# Listas ( Podemos iniciar a montagem de uma lista usando [] ou list() )

L1 = []
type(L1)

list

In [ ]:
lista2 = list()

In [ ]:
type(lista2)

list

In [ ]:
list1 = ['Eliane', 'Gustavo', 'Guilherme']# cobsiderado uma string com varios valores, por ter aspas em cada nome
list2 = ['Eliane, Gustavo, Guilherme'] # Considerado uma string com um unico valor,
                                       #por ter apenas uma aspas simples
list1

['Eliane', 'Gustavo', 'Guilherme']

In [ ]:
list2

['Eliane, Gustavo, Guilherme']

In [ ]:
len(list1)

# lista com aspas em cada nome, como se fossem 3 valores diferentes dentro daquela variavel string

3

In [ ]:
len(list2)

# lista cm aspas no inicio e fim, como se tivesse unificado todos os valores dentro daqla variavel string
# outra forma de ver isso é usando a busca de valor

1

In [ ]:
list2 [0] # Diferente da lista com 1, com uma aspas em cada nome dentro da variavel

'Eliane, Gustavo, Guilherme'

In [ ]:
list1 [0] # "Eliane" é o primeiro elemento da lista 1, por estar estar cercado de aspa simples, se tornando
          # o primeiro valor da variavel string

'Eliane'

In [ ]:
# Adicionar um objeto dentro da lista usando o comando append

list1.append('Ricardo')

In [ ]:
list1

['Eliane', 'Gustavo', 'Guilherme', 'Ricardo', 'Ricardo', 'Ricardo']

In [ ]:
# O comando pode ser usado varias vezes

# Lista mista que pode ser colocado varios tipos de palavras, float, int, etc

misto = ['carro','3.90','10']

In [ ]:
misto

['carro', '3.90', '10']

In [ ]:
# Para retirar um nome da lista que desejar

del list1[1]

In [ ]:
list1

# Podemos retirar varios itens da lista, e deixando quantos quiser e os que quiser, removi todos e sobrou
# apenas Eliane

['Eliane']

In [ ]:
list1.append('Guilherme')

# Tem como remover um objeto da lista mencionando-o diretamente e usando o comando remove

list1.remove("Gustavo")

In [ ]:
list1

# Como pode ver na operacao abaixo, o nome foi mencionado diretamente na operaçao e retirado da lista
# Podemos fazer os mesmos procedimentos "del" e "remove" com a lista mista

['Eliane', 'Guilherme', 'Guilherme', 'Guilherme']

In [ ]:
misto.remove('3.90')

In [ ]:
misto

['carro', '10']

In [ ]:
# Lembrando que em todas as listas, se tentarmos usar comando del ou remove em um item inexistente
# vai dar erro de operacao, e na lista1 que os elementos sao unificados, conseguimos apagar todos
# de uma vez só usando o comando del, e o remove, mas nesse caso o del é mais simples

del list2[0]

In [ ]:
list2

[]

In [ ]:
# Todos os elementos da lista foram apagados

# Linhas aninhadas ( Lista dentro de uma lista )

lista = [[11,22,33], [1,2,3,4], [100,200,300,400,500]]

# Para fazer o slice dessa lista, temos que achar a lista e o algoritmo na lista, exemplo:

lista[0][1]

22

In [ ]:
lista[2][3]

400

In [ ]:
# Junção de listas e avaliação de elementos

l1 = [1,2,3,4,5]
l2 = [22,33,44,55,66,77]

s = l1 + l2

s

[1, 2, 3, 4, 5, 22, 33, 44, 55, 66, 77]

In [ ]:
# Perguntar se um valor está dentro de uma lista, ou soma de listas, etc, usando o comando 'in' e a
# variavel da lista que voce quer saber se esse valor se encontra ent no caso, 'in s'

20 in s

# False porque nas listas nao existe o numero 20

False

In [ ]:
22 in s

# True porque 22 possui na lista

True

In [ ]:
# Temos como perguntar quantos elementos especificos existem em uma lista usando o '.count'
# entao digitamos a lista ( a minha chama s) e colocamos um . e o count na frente

s.count(5)

5

In [ ]:
# Como saber o indice de um elemento especifico? usando o comando '.index'

s.index(3)

2

In [ ]:
# O numero 3 se encontra no indice 2 ( ele é o caractere 2 )

# Temos como adicionar um valor qualquer em um indice ( lugar da lista) especifico que desejar
#  usando o '.insert' e o nome da lista, por exemplo:

s.insert(3, 999)

In [ ]:
s

[1, 2, 3, 999, 4, 5, 22, 33, 44, 55, 66, 77, 1, 3, 5, 5, 5, 5]

In [ ]:
# Pode ver que ele adicionou o valor que eu desejava, logo na frente do valor do indice 3
# Entao podemos dizer que o 999 se tornou o indice 4

# E para ordenar os elementos de forma crescente, usamos o comando '.sort' e o nome da lista

s.sort()

In [ ]:
s

[1, 1, 2, 3, 3, 4, 5, 5, 5, 5, 5, 22, 33, 44, 55, 66, 77, 999]

In [ ]:
# E para ordenar de forma decrescente usamos o comando '.reverse' e o nome da lista, exemplo:

s.reverse()

In [ ]:
s

[999, 77, 66, 55, 44, 33, 22, 5, 5, 5, 5, 5, 4, 3, 3, 2, 1, 1]

In [ ]:
# E para fazer uma cópia de uma lista

# primeiro a referenciação

n = [11,22,33,44,55]
n2 = n
n2.append(66)

In [ ]:
n2

[11, 22, 33, 44, 55, 66]

In [ ]:
n

[11, 22, 33, 44, 55, 66]

In [ ]:
# Temos que tomar cuidado ao usar a referenciação, pois o comando que for mexido em uma lista
# referenciada a outra, sairá espelhada, como aconteceu acima

# Para fazer a cópia, colocamos a o nome da nova lista = nome da lista da qual virá a cópia [:]
# obs ( usando : fazemos copía da lista por completo, usando o sistema de indice, escolhemos o indice
# que começarei a copiar, e o indice que terminaremos de copiar), exemplos:

n3 = n[:]

In [ ]:
n3

[11, 22, 33, 44, 55, 66]

In [ ]:
# Se adicionarmos algum valor, ele aparecerá apenas na lista n3, e nao na n também, porque aqui
# nós copiamos a lista, e nao estamos fazendo referenciacao nela como anteriormente, entao os comandos
# da lista n3 nao serao espelhados para a lista n, exemplo abaixo:

n3.append(777)

In [ ]:
n3

[11, 22, 33, 44, 55, 66, 777]

In [ ]:
n

[11, 22, 33, 44, 55, 66]

In [ ]:
# A lista n segue intacta e sem alteração
# copia de lista a partir de um algoritmo e sem algoritmo final usando [3:] por exemplo:

n4 = n[3:]

In [ ]:
n4

[44, 55, 66]

In [ ]:
# Copiamos a lista a partir do algoritmo 3, sem especificar um algoritmo limite, agora iremos copiar
# colocando o algoritmo que começaremos a copiar, até o algoritmo em que desejamos copiar, em suma,
# o algoritmo final, exemplo:

n5 = n[2:5]

In [ ]:
n5

[33, 44, 55]

In [ ]:
# Usando o comando '.copy'

n6 = n.copy()

In [ ]:
n6

[11, 22, 33, 44, 55, 66]

In [ ]:
# Dessas formas poderemos trabalhar nessas cópias de forma independente, sem que as outras sejam
# alteradas de forma espelhada